<DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='assets/main.css' />
    </head>
    <body>
        <div id="container">
            <center>
                <div id="title">Welcome to the Bee Game!</div>
                <div id='bee-counts' style='height:220px;'>
                    <div>
                        <form method="post" action="index.php">
                            <input id="button" type="submit" value="hit" name="submit">
                        </form>
                    </div>
                </div>
            </center>
        </div>
    </body>
</html>