#container {
    width: 480px;
    height: 360px;
    border: 1px solid black;
}

#button {
    background-color: #beeeee;
    border: 1px solid black;
    width: 16%;
    height: 9%;
}

#bee-counts {
    width:100%;
    padding: 0 60% 0 0;
}

.bee-status-type {
    width:30%;
    float:left;
}
.bee-status-count {
    width:70%;
    float:left;
}