body {
    background-color: rgba(248, 183, 65, 1.0);
    margin: 2px;
    padding: 2px;
}

#game-container {
    width: 960px;
    height: 460px;
}

#game-stats-container {
    float:left;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

#game-board-container {
    float:left;
    width: 50%;
    height: 100%;
    margin-right: 1%;
    border: 1px solid white;
}

#button {
    background-color: #beeeee;
    border: 1px solid black;
    width: 16%;
    height: 9%;
}

#bee-counts {
    width:100%;
    padding: 0 60% 0 0;
}

.bee-status-type {
    width:30%;
    float:left;
}

.bee-status-type-bold {
    width:30%;
    float:left;
    font-weight: bold;
}

.bee-status-count {
    width:70%;
    float:left;
}